@media (max-width: 575.98px) { 
    .container-fluid {
        margin: 0;
    }
    .header {
        
        &__img {
            height: 200px; 
        }
        &__div1 {
            padding: 20px;
            

        }
        &__div3 {
            display: none;
        }
    }
    .section {
        margin-top: 20px;

        &__container {
            margin: 10px;
        }
        &__h2 {
            text-align: center;
        }
    }


 }



@media (min-width: 992px) and (max-width: 1199.98px) { 
    .container-fluid {
        margin: 50px;
    }
    .header {
        &__img {
            margin-top: -200px;
            height: 600px;

        }
        &__div1 {
            margin-top: -100px;  
            margin-top: -90px;
            padding: 0 100px;
            border-bottom: 1px solid grey;
            position: relative;

        }
        &__img2 {
            margin: 10px;
        }
        &__div3 {
            position: relative;
            display: block;
        }
    }
    .section {
        &__h2 {
            margin: 50px;
        }
        &__container {
            margin: 20px;
        }

    }

 }

@media (min-width: 1200px) {   
    .container-fluid {
        padding: 50px;
    }
    .header {
        &__img {
            margin-top: -200px;
            height: 600px;

        }
        &__div1 {
            margin-top: -100px;  
            margin-top: -90px;
            padding: 0 100px;
            border-bottom: 1px solid grey;
            position: relative;
        
        }
        &__img2 {
            margin: 10px;
        }
        &__div3 {
            position: relative;
            display: block;
        }   
    }
    .section {
        &__h2 {
            margin: 50px;
        }
        &__container {
            margin: 50px;
        }

    }


}